{% trans_default_domain "mc_calendar_event_booking" %}
{% use "@Contao/component/_figure.html.twig" %}
{% extends "@Contao/frontend_module/_base.html.twig" %}
{% use "@Contao/component/_figure.html.twig" %}

{% set searchable = false %}

{% block content %}
    <div class="ceb-my-bookings">
        {% for item in bookings %}
            <div class="ceb-my-bookings--item">
                {% if item.figure|default %}
                    {# Render the event image #}
                    {% with {figure: item.figure} %}{{ block('figure_component') }}{% endwith %}
                {% endif %}
                <div class="ceb-my-bookings--info">
                    <div class="ceb-my-bookings--info-event-title">
                        {{ item.event.title }}
                    </div>
                    <div class="ceb-my-bookings--info-event-start-date">
                        {{ item.event.startDate|date("d.m.Y") }}
                    </div>
                    <div class="ceb-my-bookings--info-booking">
                        {% if item.booking.firstname|default %}
                            <div class="ceb-my-bookings--info-booking-firstname">
                                {{ item.booking.firstname }}
                            </div>
                        {% endif %}
                        {% if item.booking.lastname|default %}
                            <div class="ceb-my-bookings--info-booking-lastname">
                                {{ item.booking.lastname }}
                            </div>
                        {% endif %}
                    </div>
                    {% if item.payments|default %}
                        <div class="ceb-my-bookings--payments">
                            {% for payment in item.payments %}
                                <div class="ceb-my-bookings--info-payment">
                                    <div>{{ payment.grossAmount }} {{ payment.currencyCode }}</div>
                                    <div>{{ payment.provider }}</div>
                                    <div>{{ payment.uuid }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
